.loading-spinner {
    background-image: url('project://database/Assets/DataSkopAR/Images/Icons/loading-spinner.png?fileID=21300000&guid=c79a3f8a725c8fa459ad36a5ac14ebc4&type=3#loading-spinner');
    position: absolute;
    top: -25%;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.8);
    -unity-background-scale-mode: stretch-to-fill;
}
