.icon {
    overflow: hidden;
    -unity-background-image-tint-color: rgb(0, 0, 0);
}

.icon--size-20 {
    width: 20px;
    height: 20px;
}

.icon--size-25 {
    width: 25px;
    height: 25px;
}

.icon--size-30 {
    width: 30px;
    height: 30px;
}

.icon--size-35 {
    width: 35px;
    height: 35px;
}

.icon--type-alert {
    background-image: url('project://database/Assets/Dataskop/Images/Icons/alert.png?fileID=2800000&guid=6fe7ad4363d6fe744966294110d7dde9&type=3#alert');
    -unity-background-image-tint-color: rgba(191, 97, 106, 255);
}

.icon--type-check {
    background-image: url('project://database/Assets/Dataskop/Images/Icons/check.png?fileID=2800000&guid=db91e26dc24535e4196888618949a0de&type=3#check');
    -unity-background-image-tint-color: rgba(163, 190, 140, 255);
}

.icon--type-info {
    background-image: url('project://database/Assets/Dataskop/Images/Icons/info.png?fileID=2800000&guid=b9cb3df53b698964e87dfbc8b984e7f9&type=3#info');
    -unity-background-image-tint-color: rgba(235, 203, 139, 255);
}

.icon--type-layers {
    background-image: url('project://database/Assets/Dataskop/Images/Icons/layers.png?fileID=2800000&guid=75ce9a85f62a3cc488ca084e37b7d189&type=3#layers');
}

.icon--type-lock {
    background-image: url('project://database/Assets/Dataskop/Images/Icons/lock.png?fileID=2800000&guid=5eb3577d414338246ad4de19b76d55f2&type=3#lock');
}

.icon--type-settings {
    background-image: url('project://database/Assets/Dataskop/Images/Icons/settings.png?fileID=2800000&guid=3804e06c39831e347a1b14bd8c27ac9d&type=3#settings');
}

.icon--type-unlock {
    background-image: url('project://database/Assets/Dataskop/Images/Icons/unlock.png?fileID=2800000&guid=82413a7f09fdf48409a57cdb2f1748eb&type=3#unlock');
}

.icon--color-white {
    -unity-background-image-tint-color: var(--dsar-color-white);
}

.icon--color-black {
    -unity-background-image-tint-color: var(--dsar-color-black);
}

.icon--color-danger {
    -unity-background-image-tint-color: var(--dsar-color-danger);
}

.icon--color-success {
    -unity-background-image-tint-color: var(--dsar-color-success);
}

.icon--size-60 {
    width: 60px;
    height: 60px;
    min-width: 60px;
    max-width: 60px;
}
